# Compiled object files
*.o
*.obj

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# IDE files
.vscode/
.idea/
*.vcxproj*
*.sln
